name: Rust

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Build yui-core
      run: cargo build --verbose -p yui-core
    - name: Test yui-core
      run: cargo test --verbose -p yui-core
    - name: Build yui-matrix
      run: cargo build --verbose -p yui-matrix
    - name: Test yui-matrix
      run: cargo test --verbose -p yui-matrix
    - name: Build yui-homology
      run: cargo build --verbose -p yui-homology
    - name: Test yui-homology
      run: cargo test --verbose -p yui-homology
    - name: Build yui-link
      run: cargo build --verbose -p yui-link
    - name: Test yui-link
      run: cargo test --verbose -p yui-link
    - name: Build yui-kh
      run: cargo build --verbose -p yui-kh
    - name: Test yui-kh
      run: cargo test --verbose -p yui-kh
    - name: Build bin-ykh
      run: cargo build --verbose -p ykh
    - name: Test bin-ykh
      run: cargo test --verbose -p ykh

